<section class="about-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <section>
    <h3>The Jungle is the greatest place to shop</h3>
    <p>
      We've been in business for over a decade thanks to you guys. We appreciate each and every one of you. Hope you found everything you were looking for and more.
    </p>
  </section>

</section>